[user]
  name = My Name
  email = myemail@example.com
  signingkey = my8digitssignkey

[color]
  ui = true

[core]
  editor = nvim
  excludesfile = /home/philip/.config/git/global_ignore

[push]
  default = simple

[pull]
  rebase = true

[commit]
  gpgsign = true

[gpg]
  format = ssh

[gpg "ssh"]
  allowedSignersFile = /full-path-to/.config/git/allowed_signers
  program = "/full-path-to-pass-manager-program"

[init]
  defaultBranch = main

[difftool "nvim_difftool"]
  cmd = nvim -c \"packadd nvim.difftool\" -d \"$LOCAL\" \"$REMOTE\"

[diff]
  tool = nvim_difftool

[merge]
  tool = nvim_difftool
